<!DOCTYPE html>
<html lang="es">

<head>
    {{>head}}
    <link rel="stylesheet" href="/styles/optics_style.css">
</head>

<body>
    <div class="wrapper">
        {{>header}}
    </div>

    <div class="breadcrumbs">
        <div class="content">
            <div class="breadcrumbs_wrapper">
                <span><a href="/">Inicio</a> <i class="fas fa-angle-right"></i> <a href="/optics"><strong>Óptica</strong></a></span>
                <div class="carrito_wrap">
                    <a href="/checkout">
                        <span class="checkout">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="quantity"></span>
                        </span>
                    </a>
                    <span class="carrito"></span>
                    <span class="clear_carrito"><i class="fas fa-trash-alt"></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="optics_products">
        <div class="content">
            <aside class="filter_column">
                <div class="filters">
                    <div class="filters_heading">Filtros</div>
                    <div class="filterbox">
                        <div class="list-group">
                            <div class="list-group-items">
                                <a class="list-group-item">Color</a>

                                <div class="list-group-item">
                                    <div id="filter-group2">
                                        <div class="checkbox">
                                            <label> <input type="checkbox" name="filter[]" value="8">
                                                Negro
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label> <input type="checkbox" name="filter[]" value="5">
                                                Dorado
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label> <input type="checkbox" name="filter[]" value="6">
                                                Rojo
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label> <input type="checkbox" name="filter[]" value="7">
                                                Plateado
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-items">
                                <a class="list-group-item">Precio</a>

                                <div class="list-group-item">
                                    <div id="filter-group1">
                                        <div class="checkbox">
                                            <label> <input type="checkbox" name="filter[]" value="2">
                                                $50.000-$99.000
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label> <input type="checkbox" name="filter[]" value="4">
                                                $100.000-$149.000
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label> <input type="checkbox" name="filter[]" value="1">
                                                $150.000-$299.000
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label> <input type="checkbox" name="filter[]" value="3">
                                                $300.000-$500.000
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-items">
                                <a class="list-group-item">Talla</a>

                                <div class="list-group-item">
                                    <div id="filter-group3">
                                        <div class="checkbox">
                                            <label> <input type="checkbox" name="filter[]" value="9">
                                                L
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label> <input type="checkbox" name="filter[]" value="10">
                                                M
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label> <input type="checkbox" name="filter[]" value="11">
                                                S
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="button" id="button-filter" class="btn btn-primary">Refine Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>

            <div class="optics_products__content">
                <div class="order_bar">
                    <div class="order_bar__sort_by_wrapper">
                        <div class="sort_by_wrapper__label">
                            <label class="control_label">Ordenar por:</label>
                        </div>
                        <div class="sort_by_wrapper__input">
                            <select id="input-sort" class="form-control hasCustomSelect" style="-webkit-appearance: menulist-button; width: 180px; position: absolute; opacity: 0; height: 28px; font-size: 14px;">

                                <option selected="selected">Nombre (A - Z) </option>

                                <option>Nombre (Z - A) </option>

                                <option>Precio (Más bajo > Más alto) </option>

                                <option>Precio (Más alto > Más bajo) </option>

                            </select>

                            <span class="customSelect form-control" style="display: inline-block;">
                                <span class="customSelectInner" style="width: 164px; display: inline-block;">Defecto</span>
                            </span>

                        </div>
                    </div>
                </div>

                <div class="products_list">
                    {{#each productos}}
                    <div class="product_box">
                        <div class="product_box__image">
                            <a href="/optics/{{this.name}}">
                                <img src="{{this.img_a}}" alt="">
                                <img src="{{this.img_b}}" alt="">
                            </a>
                        </div>
                        <div class="product_box__caption">
                            <p>
                                <span class="price">{{this.price}}</span>
                            </p>
                            <h4 class="glass_reference"><a href="/optics/{{this.name}}">{{this.name}} {{this.ref}}</a></h4>
                            <button data-name="{{this.name}} {{this.ref}}" data-price="{{this.price}}" data-img="{{this.img_a}}"
                                class="addtocart">Agregar al Carrito</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        {{>footer}}
    </div>

    <script src="/scripts/cart.js"></script>
</body>

</html>