<!DOCTYPE html>
<html lang="es">

<head>
    {{>head}}
    <link rel="stylesheet" href="/styles/product_style.css">
</head>

<body>
    <div class="wrapper">
        {{>header}}
    </div>
    {{#each productos}}
    <div class="breadcrumbs">
        <div class="content">
            <div class="breadcrumbs_wrapper">
                <span><a href="/">Inicio</a> <i class="fas fa-angle-right"></i> <a href="/optics">Óptica</a> <i class="fas fa-angle-right"></i>
                    <strong>{{name}} {{ref}}</strong></span>
                <div class="carrito_wrap">
                    <a href="/checkout">
                        <span class="checkout">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="quantity"></span>
                        </span>
                    </a>
                    <span class="carrito"></span>
                    <span class="clear_carrito"><i class="fas fa-trash-alt"></i></span>
                </div>
            </div>
        </div>
    </div>
    <section class="product_detail_wrap">
        <div class="content">
            <section class="product_detail">
                <article class="product_detail__img_wrapper">
                    <div class="ppal_img">
                        <img src="{{img_a}}" alt="">
                    </div>
                    <div class="other_images">
                        <div class="active">
                            <img src="{{img_a}}" alt="">
                        </div>
                        <div>
                            <img src="{{img_b}}" alt="">
                        </div>
                    </div>
                </article>
                <article class="product_detail__info">
                    <h2 class="info__title">{{name}} {{ref}}</h2>
                    <h3 class="info__price">{{price}}</h3>
                    <p class="info__description">{{description}}</p>
                    <button data-name="{{this.name}} {{this.ref}}" data-price="{{this.price}}" data-img="{{this.img_a}}"
                        class="addtocart">Agregar al Carrito</button>
                </article>
            </section>
        </div>
    </section>

    {{/each}}
    <div class="wrapper">
        {{>footer}}
    </div>

    <script src="/scripts/cart.js"></script>
</body>

</html>